{% extends 'base.html'%}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body%}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <img src="{{url_for('static', filename='images/myphoto.jpeg')}}"  style=" height:600px; width: 400px;margin-left: 100px; margin-top: -50px;">
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Abhishek</p>
            <p class="text-title desktop-view">Pandey</p>
            <p class="text-title mobile-view">Abhishek Pandey</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/abhi526691">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/abhishek-pandey-1515aa171/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com/Abhi10548">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/_abhishek__pandey___/">
                    <img class="title-logo" src="static/images/insta.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">Starting from a small hacks to building a big project-I love to build.
                I have a crave to explore for new things and always love to learn anything that is given to me with great enthusiasm
            </p>
            <p class="text-content">
                I started working at ameex as a associate software engineer. I have a deep understanding of 
                machine learning, data analysis with a knowledge of framework of python like Django, Flask.
                I have worked on some real time projects such as Early prediction of sepsis using machine learning,
                created a software which will detect whether the person is wearing a mask or not with simualtion which
                checks for maintenance of social distance among peoples</p>

            <p class="text-content">I studied computer science at <a href="https://www.veltech.edu.in/">VELTECH</a>.
            </p>

            <p class="text-content">One of my biggest side-projects is <a
                    href="https://github.com/abhi526691/Covid-Guard/tree/patch-1">Covid Guard</a>,
                    A real time software which detects whether the person is wearing a mask or not with ability to
                    check or locate the distance between peoples with a simple GUI interface
                    I love to participate in different live events as well as different hackathons.One of the recent website 
                    which I made for a HCL hackathon was,
                <a href="corona-19.epizy.com">Covid Coach</a>,
                an interface which is really useful to check the availability of necessary equipment 
                in the hospital with live appointment with the doctor embedded in it,

            <p class="text-content">I am also working as a D2C chief igniter for Dare2Compete platform where
                I with my team which I selected will be conducting different quizes, hackathons, webinars and 
                will be running our college inventory page in Dare2Compete platform </p>

            <p class="text-content">I'm moreover a introvert person who loves to sit in his computer and 
                work, play and do his task. I am also an active blogger</a>, where I am planning to write about my work, travel
                and side projects. I'm extremely enthusiastic about life, believe that life is too short to work on
                things that don't interest you, and I'm always on the hunt for learning something new.</p>

            <p class="text-content">You can find me on <a href="https://www.linkedin.com/in/abhishek-pandey-1515aa171/">LinkedIn</a>,
                or email me <a href="mailto:sauravpandey597@gmail.com" target="_top">here</a>.
            </p>

            <p class="text-content">Let's get in touch!</p>

            <p class="text-content">Abhishek Pandey</p>

            <p class="text-content"><a href="timeline">For more about me, my timeline, read on here.</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
</html>